<div class="header">
    <div class="menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="searchbar">
        <input type="text" placeholder="Enter the Product" #searchText>
        <button (click)="onInputText(searchText)">Search</button>
    </div>
    <div class="list">       
        <ul>
            <li><i class="fa-solid fa-house"></i></li>
            <li><i class="fa-solid fa-address-book"></i></li>
            <li  *ngIf="!folderOpen"><i class="fa-solid fa-folder"></i></li>
            <li *ngIf="folderOpen"><i class="fa-regular fa-folder-open"></i></li>

            <!-- <i class="fa-solid fa-folder"></i> -->
            <li><i class="fa-solid fa-terminal"></i></li>
        </ul>
    </div>
</div>
