<!-- <app-notification></app-notification> -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-ng-if-direct></app-ng-if-direct> -->
<!-- <app-ng-switch-direct></app-ng-switch-direct> -->
<!-- <app-ng-for-direct></app-ng-for-direct> -->
<!-- <app-directives></app-directives> -->
<!-- <app-ng-containers></app-ng-containers> -->
<!-- <app-ng-template></app-ng-template> -->

<!-- <app-homepage></app-homepage> -->
<!-- <app-ngcontent>
  <h1 class="heading">Heading 1</h1>
  <button class="btn">Submit1</button>
</app-ngcontent>

<app-ngcontent>
  <h1 class="heading">Heading 2</h1>
  <button class="btn">Submit2</button>
</app-ngcontent>

<app-ngcontent>
  <h1 class="heading">Heading 3</h1>
  <button class="btn">Submit3</button>
</app-ngcontent> -->

<app-component-initialization [message]="'hello, world'"></app-component-initialization>
<!-- <app-contentchild></app-contentchild> -->
<!-- <app-viewchildren></app-viewchildren> -->
<!-- <app-ngtemplate></app-ngtemplate> -->
<!-- <app-navbar></app-navbar>
<app-custom-prop-binding></app-custom-prop-binding> -->

<br>
<!-- <app-eventbinding></app-eventbinding> -->
<br><br>
<!-- <app-classbinding></app-classbinding> -->

<br><br>
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<br><br>

<!-- <app-temp-ref></app-temp-ref> -->



<div>
  <!-- {{title}} -->
</div>

<br><br>
<!-- <app-steps></app-steps> -->