<!-- <app-notification></app-notification> -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-ng-if-direct></app-ng-if-direct> -->
<!-- <app-ng-switch-direct></app-ng-switch-direct> -->
<!-- <app-ng-for-direct></app-ng-for-direct> -->
<!-- <app-directives></app-directives> -->
<!-- <app-ng-containers></app-ng-containers> -->
<app-ng-template>
  
</app-ng-template>


<br>
<!-- <app-eventbinding></app-eventbinding> -->
<br><br>
<!-- <app-classbinding></app-classbinding> -->

<br><br>
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<br><br>

<!-- <app-temp-ref></app-temp-ref> -->



<div>
  <!-- {{title}} -->
</div>

<br><br>
<!-- <app-steps></app-steps> -->