<table class="table">
    <thead>
      <tr>
      
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Full Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>{{firstName()}}</td>
        <td>{{lastName()}}</td>
        <td>{{fullName()}}</td>
      </tr>
      <!-- <tr>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>Bird</td>
        <td>@twitter</td>
       
      </tr> -->
    </tbody>
  </table>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [value]="firstName()" #fname placeholder="Change First Name">
    <button (click)="changeFirstName(fname.value)" type="button" class="btn btn-outline-primary">Change First Name</button>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" [value]="lastName()" #lname placeholder="Change Last Name">
    <button (click)="changeLastName(lname.value)" type="button" class="btn btn-outline-primary">Change Last Name</button>
  </div>