<div *ngIf="!emp.active; else elseBlock">
    <h2>
        User is not active
    </h2>
</div>


<!-- ng-template are used to create the template content which we can show or hide on conditional bases -->

<ng-template #elseBlock>
    <div>
        <strong>Name: </strong><span>{{emp.name}}</span>
        <strong>Age: </strong><span>{{emp.age}}</span>
        <strong>Dept: </strong><span>{{emp.department}}</span>

    </div>
</ng-template>


<!-- we have to one template and show the template content at different places -->

<ng-template #card let-name="name">
    <div>
        <h4>Uxtrendz</h4>
        <p>Name: {{name}}</p>
        <div>
            <button>Submit</button>
        </div>
    </div>
</ng-template>

<!-- we can show that template using ngTemplateOutlet -->
<!-- <ng-container *ngTemplateOutlet="card" ></ng-container> -->


<!-- we can pass dynamic data also -->
<ng-container *ngTemplateOutlet="card; context: {name: 'John'}" ></ng-container><br>
<ng-container *ngTemplateOutlet="card; context: {name: 'Max'}" ></ng-container><br>
<ng-container *ngTemplateOutlet="card; context: {name: 'Anup'}" ></ng-container><br>

