<!-- <app-navbar></app-navbar>




<div class="container-xxl">
    <div class="row">
        <div class="col-md-3">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-md-9">
            <app-main></app-main>
        </div>
    </div>
</div>
<app-footer></app-footer> -->


<app-navbar (sendSearchText)="getSearchText($event)"></app-navbar>
<app-custom-prop-binding [searchText]="searchText" #CustomPropBindingComponent></app-custom-prop-binding>
<app-user-detail *ngIf="CustomPropBindingComponent.selectedUser"></app-user-detail>