<div class="container">
    <h1 class="mt-5 mb-4">Employee Data</h1>
  
    <div class="row" >
      <div class="col-md-4" *ngFor="let emp of employee" [ngStyle]="{opacity: emp.active ? 1 : 0.5}">
        <div class="card mb-4">
          <img src="../../../assets/Images/profile1.png" class="card-img-top" alt="Employee 1">
          <div class="card-body">
            <h5 class="card-title">{{emp.name}}</h5>
            <p class="card-text" [ngClass]="{
                'active': emp.active,
                'inactive': !emp.active
            }">
            {{emp.active ? "active" : "inactive"}}</p>
            <p class="card-text">Department: {{emp.department}}</p>
            <p class="card-text">Age: {{emp.age}}</p>
            <p class="card-text">salary: {{emp.salary}}</p>
            <a href="#" class="btn btn-primary" >View Profile</a>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../../assets/Images/profile2.jpeg" class="card-img-top" alt="Employee 2">
          <div class="card-body">
            <h5 class="card-title">Jane Smith</h5>
            <p class="card-text">Position: Graphic Designer</p>
            <p class="card-text">Experience: 3 years</p>
            <a href="#" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../../../assets/Images/profile3.png" class="card-img-top" alt="Employee 3">
          <div class="card-body">
            <h5 class="card-title">Michael Johnson</h5>
            <p class="card-text">Position: Marketing Manager</p>
            <p class="card-text">Experience: 7 years</p>
            <a href="#" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
