<div [ngSwitch]="step">
    <div *ngSwitchCase="1">
        <h4>Step 1</h4>
        <p>Hello 😀</p>
    </div>
    <div *ngSwitchCase="2">
        <h4>Step 2</h4>
        <p>Hello 😎</p>
    </div> 
    <div *ngSwitchCase="3">
        <h4>Step 3</h4>
        <p>Hello 🥳</p>
    </div> 
    <div *ngSwitchCase="4">
        <h4>Step 4</h4>
        <p>Hello 🥸</p>
    </div> 
    <div *ngSwitchCase="5">
        <h4>Step 5</h4>
        <p>Hello 🧐</p>
    </div> 
    <div *ngSwitchDefault >
        <h2>All steps are done</h2>
    </div>
</div>
